:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  background: #87ceeb;
  color: #222;
  margin: 0;
}

h1 {
  color: #e52521;
  text-align: center;
}

main {
  width: 90%;
  background: white;
  border: 3px solid #222;
  border-radius: 10px;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
}

fieldset {
  padding: 1rem;
  border: 0;
}

fieldset label {
  display: block;
  margin-bottom: 0.5rem;
}

legend {
  font-weight: bold;
}

button {
  background: #fbd000;
  color: #222;
  border: 2px solid #222;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"] {
  background: #ffd93b;
}

.summary {
  margin: 1.5rem;
  padding: 1rem;
  border-top: 2px solid #222;
}